.ant-carousel .slick-slide {
    height: 100%;
    line-height: 100%;
}
.header {
    background: none;
    height: 100%;
    line-height: 100%;
    padding: 0;
}
.menu {
    height: 100px;
    margin-top: 10px;
    width: 100%;
}
.menu-section {
    position: relative;
}
.menu-section__content {
    margin-top: 10px;
}
.icon-color {
    color: #3f3f3f;
}
.icon-color:visited {
    color: #3f3f3f;
}
.icon-color:hover {
    color: #3f3f3f;
}
.icon-color:active {
    color: #3f3f3f;
}
.carousel {
    border: rgb(230, 228, 228) 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgb(224, 224, 224);
    margin: 16px auto;
    position: relative;
    width: 1024px;
}
.menu_imagen {
    font-size: 22px;
}
.menu-section__right {
    margin-top: 30px;
    text-align: end;
    padding-right: 192px;
}
.menu-section__left {
    margin-top: 30px;
    margin-left: 180px;
    position: relative;
    width: 256px;
    z-index: 1000;
}
.user-section__logo {
    height: 50px;
    padding: 0 12px;
}
.image-logo {
    position: relative;
    top: -14%;
    width: 160px;
}
.image-logo__align {
    text-align: center;
}
.find-sesction {
    border-radius: 25px;
    box-shadow: 1px 1px 4px rgb(224, 224, 224);
    width: 300px;
}
.user-section {
    border-radius: 5px;
    margin-top: 10px;
    width: 150px;
    height: 220px;
    background-color: #ffffff;
}
.user-section__hello-text {
    margin-bottom: 0;
}
.user-section__regards {
    margin-bottom: 14px;
    margin-top: 14px;
    text-align: center;
}
.user-section__fields {
    margin: 0 !important;
}
.user-section__menu .ant-menu-vertical{
    border-right: none;
}
.user-section__menu_imagen {
    font-size: 16px !important;
}
.image-over {
    margin-top: -85px;
   justify-content: center; 
}
.image-over-carousel__first{
    background-color: rgb(241, 241, 241);;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(224, 224, 224);
    border: rgb(230, 228, 228) 1px solid;
    height: 180px;
    width: 360px;
}
.image-over-carousel__second{
    background-color: rgb(241, 241, 241);;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(224, 224, 224);
    border: rgb(230, 228, 228) 1px solid;
    height: 180px;
    margin-left: 144px;
    width: 360px;
}
.horizontal-carousel {
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
    width: 1024px;
}
.horizontal-carousel__title {
    font-size: 34px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.horizontal-carousel__button{
    display: block;
    background-color: #f8f8f8;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgb(224, 224, 224);
    height: 36px;
    position: relative;
    text-decoration: none;
    text-align: center;
    top: 36%;
    width: 40px;
}
.horizontal-carousel__button-icon {
    margin: 0;
    position: absolute;
    top: 18%;
    left: 7px;
}
.footer {
    background-color: #f8f8f8;
    border-top: rgb(230, 228, 228) 1px solid;
    box-shadow: 1px 1px 15px rgb(224, 224, 224);
}
.footer-section {
    height: 33px;
    margin-bottom: 42px;
}
.footer-section__center {
    text-align: center;
}
.footer-section__center-direccion {
    margin-bottom: 0;
}
.footer-section__center-tel {
    margin-top: 8px;
}
.footer-section__right {
    text-align: end;
}
.footer-section__content-position-left {
    color: rgba(0, 0, 0, .85);
    padding-left: 129px;
    position: relative;
    top: 26%;
}
.footer-section__content-position-center {
    color: rgba(0, 0, 0, .85);
    position: relative;
    top: 18%;
}
.facebook-icon {
    margin-left: 20px;
}
.image-logo__footer {
    width: 66px;
    margin-right: 3px;
}
.icon {
    margin-right: 4px;
    width: 20px;
}
.facebook-page-text {
    font-size: 14px;
}
